:root {
  font-size: 62.5%;
}

/* ================ Geral =================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 128rem;
}

main::after {
  content: ' ';
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 95%
  );
  z-index: -1;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.6rem;
}

/* ================ Informações =================== */

.info .logo {
  /* filter: invert(1); */
  max-width: 35rem;
  margin-bottom: 8rem;
}

.info .description {
  width: 49%;
  font-size: 2.4rem;
  color: #ffffff;
  line-height: 3rem;
}

/* ================= Botão trailer ===================== */
.trailer-btn {
  background-color: #ff0000;
  color: #ffffff;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  margin-top: 3rem;
}

.trailer-btn:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  color: #ff0000;
  border: 1px solid #ff0000;
}

/* ================ Botões =================== */

.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.carousel-buttons .btn {
  background-color: #ffffff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.2rem solid transparent;
  cursor: pointer;
  border-color: #ffffff;
}

.carousel-buttons .btn.selected {
  background-color: #1d8346;
}

/* ================ Menu lateral =================== */

.side-links {
  position: fixed;
  top: 0;
  right: 0;
  width: 8rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-links .icon {
  width: 3rem;
  filter: invert(1);
  transition: 0.3s ease-in-out;
}

.side-links .icon:hover {
  transform: scale(1.2);
}

/* ================ Imagens de fundo =================== */

.carousel-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.carousel-images .img {
  width: 100%;
  height: 100vh;
  /* Previne a distorção das proporções da imagens */
  object-fit: cover;
  display: none;
  animation: changeImage 0.7s;
}

.carousel-images .img.active {
  display: block;
}

@keyframes changeImage {
  from {
    opacity: 0.85;
  }
  to {
    opacity: 1;
  }
}

/* ============= Modal ==================== */
.modal {
  position: fixed;
  background-color: rgba(52, 52, 50, 0.749);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.close-modal {
  color: #ff0000;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  width: 4rem;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

/* ================ Responsivo =================== */

@media (max-width: 1280px) {
  body {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info .description {
    width: 60%;
    text-align: center;
  }

  .close-modal {
    width: 3rem;
    line-height: 3rem;
  }

  .modal #video {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .info .logo {
    max-width: 300px;
  }

  .info .description {
    width: 100%;
    text-align: start;
  }

  .side-links {
    display: none;
  }

  .content {
    min-height: 70vh;
    gap: 50px;
  }

  .modal #video {
    width: 90%;
    height: 20rem;
  }
}
